.container {
  display: flex;
  padding: 2rem 12rem;
  background-size: cover;

  .heading {
    margin-right: 3rem;

    .main {
      font-weight: 400;
      font-style: normal;
      font-family: sirenne-seventytwo-mvb-roman, serif;
      border-bottom: #16162c solid 2px;
      font-size: 3rem;
      padding-right: 4rem;
      margin-bottom: 0.8rem;

      &::after {
        content: "";
        margin-bottom: -0.5rem;
      }
    }

    .sub {
      font-weight: 400;
      font-style: normal;
      font-family: source-han-serif-japanese, serif;
      font-size: 0.8rem;
    }
  }

  .viewer {
    height: 100%;
    flex-grow: 1;
    padding-top: 2rem;
  }
}
