.container {
  width: 100%;
  background: #ddd;

  .about {
    padding: 6rem 12rem 0 12rem;
  }

  .news {
    margin: 8rem 0;
  }

  .links {
    padding: 0 12rem;
    margin-bottom: 6rem;
  }

  .footer {
    margin: 0 auto;
    padding: 0 0 2rem 0;
    width: 20%;
  }
}
