@use "global";

.container {
  position: relative;
  @include global.full-area;
}

.front {
  position: relative;
  margin-left: 8rem;
  margin-right: 8rem;
  background-color: rgba(global.$dark1, 0.7);
  padding-top: 5rem;
}

.top {
  margin-bottom: 6rem;
}

.body {
  padding-left: 8rem;
  padding-right: 8rem;
  color: global.$light1;
  font-size: 1rem;
  margin-bottom: 6rem;
}

.footer {
  padding-bottom: 2rem;
}
