.container {
  position: relative;
  width: 100%;
  height: 100%;

  .background {
    opacity: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("/top.jpg");

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(#444456, 100%) 20%,
        rgba(#444456, 60%) 40%,
        rgba(#444456, 60%) 80%,
        rgba(#444456, 100%) 100%
      );
    }

    .title {
      position: absolute;
      left: 1rem;
      bottom: 0;
      font-family: sirenne-seventytwo-mvb-roman, serif;
      font-weight: 400;
      font-style: normal;
      font-size: 5rem;
      color: #8484bf;
      opacity: 20%;
    }
  }

  .viewer {
    width: 80%;
    margin-left: auto;
    padding: 3rem 5rem 3rem 3rem;
    height: 100%;
  }
}
