@use "global";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include global.media(phone) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include global.media(tablet) {
    margin-left: 6%;
    margin-right: 6%;
  }

  @include global.media(desktop) {
    margin-left: 10%;
    margin-right: 10%;
  }

  .element {
    @include global.media(phone) {
      width: 100%;
      margin-bottom: 1.9rem;
    }

    @include global.media(tablet) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-bottom: 1.9rem;
    }

    @include global.media(desktop) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      margin-bottom: 1.9rem;
    }

    .link {
      display: block;

      @include global.media(phone) {
        // do nothing
      }

      @include global.media(tablet) {
        padding: 0.7rem;
        transition: background-color 200ms 0s ease;
        &:hover {
          background-color: rgba(global.$light2, 0.2);
        }
      }

      @include global.media(desktop) {
        padding: 0.7rem;
        transition: background-color 200ms 0s ease;
        &:hover {
          background-color: rgba(global.$light2, 0.2);
        }
      }
    }
  }
}
