@use "global";

.content {
  font-size: 1.1rem;

  a {
    color: #77aaff;

    @include global.media(phone) {
      text-decoration: underline currentColor;
    }

    @include global.media(tablet) {
      text-decoration: underline currentColor;
    }

    @include global.media(desktop) {
      &:hover {
        text-decoration: underline currentColor;
      }
    }

    &:visited {
      color: #386bbe;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0;
    }
  }

  strong {
    font-size: 1.2rem;
    color: #ffffff;

    &::before {
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.2em;
      height: 0;
    }
  }

  iframe {
    max-width: 100%;
  }
}
