@use "global";

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  h1 {
    position: relative;
    font-size: 1.6rem;
    padding-left: 3rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: rgba(global.$light1, 0.3) solid 6px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 4rem;
      width: 4rem;
      opacity: 20%;
      left: 0;
      top: 0;
      background-image: url("/img/talks.png");
      background-size: contain;
    }
  }

  h2 {
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    font-weight: bolder;
  }

  ul {
    margin-bottom: 1.6rem;
    margin-left: 2rem;
    font-size: 1.1rem;

    li {
      margin-bottom: 1.2rem;
    }
  }

  a {
    color: #77aaff;

    &:hover {
      text-decoration: underline currentColor;
    }

    &:visited {
      color: #ff7bab;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0;
    }
  }

  p {
    margin-left: 1rem;
    text-indent: 1rem;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  strong {
    font-size: 1.2rem;
    color: #c4bd92;

    &::before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0;
    }
  }

  iframe {
    max-width: 100%;
  }
}
