.container {
  position: relative;
  margin: 20vh 20rem 10vh 20rem;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .content {
    margin: 0 8rem;
    position: relative;
    z-index: 1;

    .title {
      margin-bottom: 5rem;
      width: 100%;
      text-align: center;
      position: relative;
    }

    .body {
      padding: 0 3rem;
    }
  }
}
