.container {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .background {
    width: 100%;

    .image {
      width: 100%;
    }
  }

  .main {
    position: absolute;
    width: 20%;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    .logo {
      width: 100%;
      align-self: center;
    }

    .name {
      font-family: fot-tsukubrdgothic-std, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #a7b0c1;
      font-size: 2rem;
      letter-spacing: 1rem;
      align-self: center;

      &::after {
        content: "";
        margin-right: -1rem;
      }
    }
  }
}
