.container {
  width: 100%;
  height: calc(100vw * 0.9);
}

.parallax {
  position: absolute;
  height: 100%;

  .inner {
    position: relative;
    height: 100%;

    .background {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .holeEffect {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.element {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
}
