@use "global";

.container {
  position: relative;
  $size: max(200vh, 100vw);
  width: $size;
  height: $size;
  left: calc(-1 * #{$size} / 2 + 50vw);
}

.parallax1 {
  position: absolute;
  @include global.full-area;

  .inner {
    position: relative;
    height: 100%;

    .background {
      position: absolute;
      @include global.full-area;
    }

    .holeEffect {
      position: absolute;
      @include global.full-area;
    }
  }
}

.parallax2 {
  position: absolute;
  @include global.full-area;
}

.element {
  position: absolute;
  @include global.full-area;
}
