@use "global";
@use "sass:math";

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  $image-aspect-ratio: math.div(812, 419);
  width: max(40vw, 40vh * #{$image-aspect-ratio});
}

.background {
  width: 100%;

  .image {
    width: 100%;
  }
}

.front {
  position: absolute;
  width: 20%;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;

  .logo {
    width: 100%;
    align-self: center;
  }

  .name {
    color: global.$light1;
    align-self: center;
  }
}
