@use "global";

.background {
  width: 100%;
  background: rgba(global.$dark1, 50%);
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .title {
    color: global.$light1;
    align-self: center;
    border-bottom: global.$light1 double 3px;
    letter-spacing: 2em;
    text-align: center;
    font-size: 1rem;
    padding: 0 4em 0.5em 4em;

    &::after {
      content: "";
      margin-right: -2em;
    }
  }

  .items {
    display: flex;

    @include global.media(phone) {
      margin: 0 2rem;
      flex-direction: column;
      gap: 2rem;
    }

    @include global.media(tablet) {
      justify-content: space-between;
      margin: 0 auto;
      width: min(50rem, 80%);
    }

    @include global.media(desktop) {
      justify-content: space-between;
      margin: 0 auto;
      width: min(50rem, 80%);
    }
  }
}
