@use "global";

.sideMenuButton {
  position: fixed;

  @include global.media(phone) {
    bottom: calc(20vh + 4rem);
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  @include global.media(tablet) {
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
  }

  @include global.media(desktop) {
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
  }
}

.topButton {
  position: fixed;
  z-index: 4;

  @include global.media(phone) {
    bottom: 20vh;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  @include global.media(tablet) {
    bottom: 6rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
  }

  @include global.media(desktop) {
    bottom: 6rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
  }
}

.sideMenu {
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
}
