@use "global";

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.menu {
  position: absolute;
  opacity: 0;
  transition: transform 200ms 0s ease-out, opacity 200ms 0s ease-out;

  .opened & {
    transform: translate(0, 0);
    opacity: 1;
  }

  @include global.media(phone) {
    width: 100%;
    height: 20rem;
    background: linear-gradient(to top, rgba(global.$light2, 100%) 0%, rgba(global.$light2, 90%) 60%, transparent 100%);
    padding: 2rem 0 2rem 2rem;
    transform: translate(0, 2rem);
    bottom: 0;
  }

  @include global.media(desktop) {
    width: 32rem;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(global.$light2, 100%) 0%,
      rgba(global.$light2, 90%) 60%,
      transparent 100%
    );
    padding: 2rem 2rem 0 2rem;
    transform: translate(-2rem, 0);
  }
}

.backButton {
  @include global.media(phone) {
    margin-bottom: 7vh;

    .logo {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  @include global.media(desktop) {
    margin-bottom: 7vh;

    .logo {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.index {
  margin-left: 1rem;
  width: 70%;

  .element {
    display: flex;
    margin-bottom: 7vh;
    align-items: center;

    .logo {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .title {
      font-size: 1.7rem;
      color: #838a96;
      flex-grow: 1;
      letter-spacing: 0.2rem;
      padding-top: 1.1rem;
      padding-bottom: 0.2rem;
      padding-left: 1rem;
      transition: color 300ms 0s ease-out;
      border-bottom: #838a96 solid 1px;
    }

    &:hover {
      .title {
        background: linear-gradient(to right, rgba(#838a96, 50%) 0%, rgba(#838a96, 50%) 60%, transparent 100%);
        color: global.$light2;
      }
    }
  }
}

.outside {
  position: absolute;
  cursor: default;

  @include global.media(phone) {
    width: 100vw;
    height: 50vh;
    top: 0;
  }

  @include global.media(desktop) {
    height: 100vh;
    width: calc(100vw - 26rem);
    right: 0;
  }
}
