.title {
  font-size: 2rem;
  color: #16162c;
}

.images {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 16rem * 1.2;
    height: 9rem * 1.2;
    object-fit: contain;
    margin: 0.5rem;
  }
}

.description {

}

.links {

}
