@use "global";

.heading {
  &.top {
    position: relative;
    padding-left: 3rem;
    padding-top: 2rem;
    margin: 2rem 0;
    padding-bottom: 0.5rem;
    border-bottom: rgba(global.$light1, 0.3) solid 6px;

    @include global.media(phone) {
      font-size: 1.4rem;
    }

    @include global.media(tablet) {
      font-size: 1.4rem;
    }

    @include global.media(desktop) {
      font-size: 1.6rem;
    }

    .icon {
      position: absolute;
      user-select: none;
      height: 4rem;
      width: 4rem;
      opacity: 20%;
      left: 0;
      top: 0;
    }
  }

  &.sub {
    margin: 3rem 0 1rem 0;
    padding-bottom: 0.5rem;
    padding-left: 0.5em;
    width: 100%;
    border-bottom: rgba(global.$light1, 0.3) solid 2px;
    border-left: rgba(global.$light1, 0.3) solid 0.5em;

    @include global.media(phone) {
      font-size: 1.2rem;
    }

    @include global.media(tablet) {
      font-size: 1.2rem;
    }

    @include global.media(desktop) {
      font-size: 1.4rem;
    }
  }

  &.detail {
    margin: 1.8rem 0 1rem 0;
    padding-bottom: 0.5rem;
    padding-left: 1.1em;
    width: 100%;
    border-bottom: rgba(global.$light1, 0.3) solid 1px;

    @include global.media(phone) {
      font-size: 1.2rem;
    }

    @include global.media(tablet) {
      font-size: 1.2rem;
    }

    @include global.media(desktop) {
      font-size: 1.4rem;
    }
  }
}
