@use "global";

.block {
  margin-inline-start: 1em;
  padding-inline-start: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border-left: rgba(global.$light1, 30%) solid 4px;
}

.inline {
  background-color: rgba(global.$light1, 20%);
  margin-inline: 0.4em;
  padding-inline: 0.3em;

  &::before {
    content: "";
  }
}

.code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
