@use "src/styles/responsive";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content {
    position: absolute;
    width: auto;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    transition: left 200ms ease-out 0s;

    .item {
      display: block;
      height: 100%;
    }
  }
}
