@use "global";

@include global.media(phone) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    padding: 1rem;
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
  }

  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@include global.media(tablet) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    padding: 1rem;
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
  }

  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@include global.media(desktop) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    padding: 1rem 2rem;
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
  }

  .thumbnails {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;

    .thumbnail {
      width: calc(50% - 0.25rem);
    }
  }
}
