.card {
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-family: source-han-serif-japanese, serif;

  .heading {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    .title {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: left;
      color: #2c1616;
      font-size: 1rem;
      line-height: 1.2rem;
      height: calc(1.2rem * 2 + 0.5rem + 0.5rem);
      text-overflow: ellipsis;
      background: radial-gradient(rgba(#db5656, 10%) 0%, transparent 50%);
    }

    .genre {
      text-align: center;
      margin-top: 0.2rem;
      background: linear-gradient(to right, transparent 0%, #dbb8b9 10%, #dbb8b9 90%, transparent 100%);
      font-family: sirenne-seventytwo-mvb-roman, serif;
      font-size: 0.5rem;
      letter-spacing: 1rem;
      color: #fff;

      &::after {
        content: "";
        margin-right: -1rem;
      }
    }
  }

  .description {
    color: #666666;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .updatedAt {
    font-size: 1rem;
    text-align: right;
    color: #666666;
  }
}
