$sizes: phone, tablet, desktop;

@mixin mq($breakpoint: phone) {
  $tablet-border: 600px;
  $desktop-border: 1025px;

  @if $breakpoint == phone {
    @media (max-width: #{$tablet-border - 1}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $tablet-border) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $desktop-border) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$breakpoint}.";
  }
}
