@use "global";

.letter {
  h1 {
    @include global.design-font;
    display: block;
    align-items: inherit;
    position: inherit;
    height: inherit;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: inherit;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0 0 0 0.5em;
    background: none;
    border-top: none;
    border-left: none;
    filter: none;

    &:before {
      width: 0;
      height: 0;
      margin-right: 0;
      background: none;
    }
  }

  h2 {
    @include global.design-font;
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: inherit;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 0 0 0.5em;
    background: none;
    border-top: none;
    border-left: none;
    filter: none;

    &:before {
      width: 0;
      height: 0;
      margin-right: 0;
      background: none;
    }
  }

  h3 {
    @include global.design-font;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0 0 0 0.5em;
    font-size: 1.2rem;
    font-weight: inherit;
    line-height: 1.5;

    &:before {
      width: 0;
      height: 0;
      margin-right: 0;
      background: none;
    }

    &:after {
      width: 0;
      margin-top: 0;
      margin-left: 0;
      height: 0;
      background: none;
    }
  }

  p {
    display: block;
    width: fit-content;
    text-indent: 0;
    line-height: 1.8em;
    padding: 0.4em 1.2em 0.3em 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: linear-gradient(
      to right,
      rgba(global.$light2, 80%) 0%,
      rgba(global.$light2, 80%) calc(100% - 4em),
      transparent 100%
    );
  }

  p:has(img),
  iframe {
    max-width: 30em;
    padding: 0;
    margin-bottom: inherit;
    background: none;
  }
}
