@use "global";

@include global.media(phone) {
  .container {
    width: 100%;
    background: #555;
    padding: 3rem 0;

    .content {
      display: flex;
      margin: 0 2rem;
      flex-direction: column;

      .element {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .linker {
    display: flex;
    padding: 1rem;
    border-radius: 0.2rem;
    background: rgba(#838a96, 0.2);
    border: global.$light1 solid 2px;

    .icon {
      display: block;
      height: 4rem;
      width: 4rem;
      align-self: center;
    }

    .caption {
      padding-top: 1rem;
      padding-left: 0.7rem;
      width: 100%;

      .background {
        display: none;
      }

      .inner {
        color: global.$light1;

        .name {
          height: 2.2rem;
          text-align: left;
          padding-left: 0.3rem;
          padding-bottom: 0.3rem;
          margin-bottom: 0.3rem;
          border-bottom: global.$light1 solid 1px;

          .text {
            font-size: 1.6rem;
          }
        }

        .description {
          height: 0.8rem;
          padding-left: 1rem;
          text-align: right;

          .text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@include global.media(tablet) {
  .container {
    width: 100%;
    background: #555;
    padding: 3rem 0;

    .content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: min(50rem, 80%);

      .element {
        width: min(16rem, calc(50% - 3rem));
      }
    }
  }

  .linker {
    display: flex;
    flex-direction: column;

    .icon {
      display: block;
      width: calc(100% * 6 / 16);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.2rem;
    }

    .caption {
      position: relative;

      .background {
        position: relative;
        width: 100%;
      }

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        font-family: fot-tsukubrdgothic-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: global.$light1;
        text-align: center;

        .name {
          height: calc((100% - 0.3rem) * 2 / 3);
          margin-bottom: 0.3rem;
        }

        .description {
          height: calc((100% - 0.3rem) / 3);
        }
      }
    }
  }
}

@include global.media(desktop) {
  .container {
    width: 100%;
    background: #555;
    padding: 3rem 0;

    .content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: min(50rem, 80%);

      .element {
        width: min(16rem, calc(50% - 3rem));
      }
    }
  }

  .linker {
    display: flex;
    flex-direction: column;

    .icon {
      display: block;
      width: calc(100% * 6 / 16);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.2rem;
    }

    .caption {
      position: relative;

      .background {
        position: relative;
        width: 100%;
      }

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        font-family: fot-tsukubrdgothic-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: global.$light1;
        text-align: center;

        .name {
          height: calc((100% - 0.3rem) * 2 / 3);
          margin-bottom: 0.3rem;
        }

        .description {
          height: calc((100% - 0.3rem) / 3);
        }
      }
    }
  }
}
