@use "global";

.page {
  position: relative;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  padding-bottom: 4rem;

  &.loaded {
    display: flex;
  }

  &.loading {
    display: none;
  }
}
