@use "src/styles/responsive";

.page {
  position: relative;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: hidden;

  .top {
    width: 100%;

    @include responsive.mq(sm) {
      height: 60vh;
    }

    @include responsive.mq(md) {
      height: 60vh;
    }

    @include responsive.mq(lg) {
      height: 100vh;
    }
  }

  .body {
    width: 100%;
  }
}
