@use "src/styles/responsive";

.page {
  position: relative;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: hidden;

  .top {
    width: 100%;
    height: 70vh;
  }

  .body {
    z-index: 4;
    width: 100%;
    position: relative;
  }
}
