@use "global";

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  transition: opacity 0.7s;
  background-color: #ddd;

  &.display {
    opacity: 1;
    pointer-events: all;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  color: global.$dark1;
  transition: opacity 0.8s ease-in-out 0s, left 0.8s ease-in-out 0s;
  @include global.design-font;

  .strong {
    font-size: 120%;
    color: #ba1317;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }

  .first {
    transition: opacity 1s;
    transition-delay: 1s;

    .display & {
      opacity: 1;
    }

    .hidden & {
      opacity: 0;
    }
  }

  .last {
    transition: opacity 1s;
    transition-delay: 2s;

    .display & {
      opacity: 1;
    }

    .hidden & {
      opacity: 0;
    }
  }

  @include global.media(phone) {
    width: calc(100vw - 3rem);
    max-width: 20rem;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  @include global.media(tablet) {
    width: calc(100vw - 7rem);
    max-width: 40rem;
    font-size: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  @include global.media(desktop) {
    font-size: 2rem;
    flex-direction: row;
  }
}

.skipButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border-bottom: global.$dark1 solid 1px;

  &:hover {
    border-bottom: global.$dark1 solid 4px;
  }
}
