@mixin textWithAnimation($delay) {
  position: relative;
  font-size: 3rem;
  font-family: source-han-serif-japanese, serif;
  font-weight: 400;
  font-style: normal;
  color: #16162c;
  transition: opacity 0.5s ease-in-out $delay, left 0.5s ease-in-out $delay;

  &.inactive {
    opacity: 0;
    left: 2rem;
  }

  &.active {
    opacity: 1;
    left: 0;
  }

  .strong {
    font-size: 120%;
    color: #ba1317;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.container {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .phrase {
    margin-top: 4rem;
    margin-bottom: 4rem;

    &.first {
      margin-right: 17rem;
      text-align: left;

      .text {
        @include textWithAnimation(0s);
      }
    }

    &.second {
      margin-left: 17rem;
      text-align: right;

      .text {
        @include textWithAnimation(0.5s);
      }
    }
  }
}
