.container {
  display: flex;
  justify-content: space-between;

  .element {
    display: flex;
    align-items: center;
    width: 33vw;
    font-family: source-han-serif-japanese, serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    .title {
      font-family: sirenne-seventytwo-mvb-roman, serif;
      border-bottom: white solid 1px;
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    .description {
      font-size: 0.8rem;
    }
  }
}