@use "global";

.container {
  width: 100%;
  margin-top: 8rem;
  color: global.$light1;
  z-index: 100;
  padding: 2rem 0;
  background: global.$dark1;
  @include global.design-font;
}

.back {
  position: absolute;
  opacity: 0.2;
  width: 12rem;
  left: max(1rem, calc(50% - 16rem));
}

.logo {
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: global.$light1 solid 2px;
  position: relative;

  .letter {
    position: relative;
    width: 12rem;
    bottom: -1.2rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  gap: 1rem;

  .element {
    display: inline;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  text-align: center;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.version {
  text-align: right;
  position: relative;
  padding-right: 1rem;
  font-size: 1rem;
}
