@use "global";

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: global.$light2;
  opacity: 1;
}

.completed {
  animation: close 1.2s normal forwards ease-in-out;
  pointer-events: none;

  @keyframes close {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .text {
    @include global.design-font;
    font-size: 1.2rem;
    white-space: nowrap;
    color: global.$light1;
  }

  .progress {
    background-color: global.$light1;
    height: 0.5rem;
    transition: width 0.3s ease-in-out;
  }
}

.animation {
  position: absolute;
  width: 384px;
  aspect-ratio: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  .fall {
    position: absolute;
    width: 2px;
    background-color: global.$light1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    animation-name: fall;
    animation-timing-function: linear;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;

    @keyframes fall {
      0% {
        top: 0;
        bottom: 100%;
      }
      5% {
        top: 0;
        bottom: 70%;
      }
      20% {
        top: 45%;
        bottom: 25%;
      }
      25% {
        top: 75%;
        bottom: 25%;
      }
    }
  }

  .wave {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 0;
    border-radius: 50% / 50%;
    border: global.$light1 solid 4px;
    animation-name: wave;
    animation-timing-function: ease-out;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    opacity: 0;

    @keyframes wave {
      0% {
        transform: scale(0);
        opacity: 1;
      }
      50% {
        transform: scale(1);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    &.l1 {
      animation-delay: 0.24s;
    }

    &.l2 {
      animation-delay: 0.42s;
    }

    &.l3 {
      animation-delay: 0.6s;
    }
  }
}
