@use "global";

.layout {
  display: flex;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  bottom: 15%;
  right: 0;
  width: 36px;
  height: 180px;
  background: rgba(global.$dark1, 50%);

  & > * {
    width: 24px;
    height: 24px;
  }
}
