@use "global";

.layout {
  user-select: none;
  z-index: 100;
  position: fixed;
  bottom: 15%;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 64px;
  transition: height 300ms, width 300ms, gap 300ms;

  .toggle {
    width: 48px;
    height: 48px;
    background: rgba(global.$light2, 80%);
    backdrop-filter: blur(4px);
    filter: drop-shadow(0px 0px 8px rgba(global.$light1, 60%));
    transition: background 500ms;

    &:hover {
      background: radial-gradient(ellipse at center, rgba(#fff1e0, 60%) 0%, rgba(global.$light2, 60%) 100%);
    }

    & * {
      pointer-events: none;
    }

    .icon {
      margin: auto;
      width: 32px;
      height: 32px;
    }
  }

  .element {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background: rgba(global.$light2, 80%);
    backdrop-filter: blur(4px);
    filter: drop-shadow(0px 0px 8px rgba(global.$light1, 60%));
    transition: background 500ms, opacity 300ms, height 300ms;
    width: 168px;

    @include global.media(desktop) {
      &:hover {
        background: radial-gradient(ellipse at center, rgba(#fff1e0, 60%) 0%, rgba(global.$light2, 60%) 100%);
      }
    }

    & * {
      pointer-events: none;
    }

    .icon {
      width: 32px;
      height: 32px;
    }

    .name {
      @include global.design-font;
      font-size: 1.1rem;
      color: global.$light1;
      width: 100px;
    }
  }

  &.close {
    height: 48px;
    gap: 0;

    .element {
      opacity: 0;
      height: 0;
    }
  }

  &.open {
    height: 48px * 5 + 16px * 4;
    gap: 16px;

    .element {
      height: 48px;
      opacity: 1;
    }
  }
}
