@use "global";

.layout {
  z-index: 100;
  position: fixed;
  bottom: 15%;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 64px;
  border-radius: 8px;
  background-color: global.$light2;
  filter: drop-shadow(0 0 8px global.$light1);
  transition: height 300ms, width 300ms, gap 300ms;

  .toggle {
    width: 32px;
    height: 32px;
  }

  .element {
    width: 32px;
    height: 32px;
    transition: opacity 300ms, height 300ms;
  }
}

.close {
  height: 48px;
  gap: 0;

  .element {
    opacity: 0;
    height: 0;
    //display: none;
  }
}

.open {
  height: 240px;
  gap: 16px;

  .element {
    height: 32px;
    opacity: 1;
    display: block;
  }
}
