@use "global";

.layout {
  display: flex;
  flex-direction: column;

  @include global.media(phone) {
    gap: 4rem;
  }

  @include global.media(tablet) {
    gap: 6rem;
  }

  @include global.media(desktop) {
    gap: 8rem;
  }
}

.content {
  @include global.media(desktop) {
    width: 56rem;
    align-self: center;
  }

  a {
    color: #77aaff;
    margin-inline: 0.2em;
    border-bottom: solid 1px currentColor;

    &:hover {
      border-bottom: solid 3px currentColor;
    }

    &:visited {
      color: #9477ff;
    }
  }
}
