@use "global";

.layout {
  display: flex;
  flex-direction: column;

  @include global.media(phone) {
    gap: 4rem;
  }

  @include global.media(tablet) {
    gap: 6rem;
  }

  @include global.media(desktop) {
    gap: 8rem;
  }
}
