.frame {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.background {
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: rgba(43, 38, 38, 0.8);
  margin-left: 120%;
  opacity: 0;
  transition: margin-left 600ms, opacity 600ms linear;

  .visible & {
    margin-left: 0;
    opacity: 1;
  }
}

.content {
  padding: 3rem 12rem;
  overflow: hidden;
  z-index: 5;
}

.message {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 400ms ease-in 500ms, transform 400ms ease-in 500ms;
  margin-bottom: 2rem;

  .visible & {
    transform: scale(1);
    opacity: 1;
  }

  .text {
    text-align: center;
    font-family: mrs-eaves, serif;
    color: #fff;
    font-size: 2rem;
  }
}

.suggestions {
  /* スタッキングコンテキストの形成 */
  transform: scale(1);
  opacity: 0;
  transition: opacity 400ms ease-in 600ms;

  .visible & {
    opacity: 1;
  }
}
