.frame {
  position: relative;
  left: -8rem;
  right: 8rem;
  height: 10rem;
  padding: 2rem 4rem 2rem 8rem;
}

.band {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #ffbc8d;
  opacity: 0.8;
}

.content {
  position: relative;
  z-index: 6;
}

.title {
  .text {
    display: inline-block;
    margin: auto 0;
    width: 80%;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 2rem 1rem 0;
    color: #666;
  }
}

.date {
  background-color: #5c4539;

  .text {
    z-index: 2;
    color: #bbb;
    font-size: 1rem;
    padding: 0.3rem 2rem 0.3rem 0.5rem;
    text-align: left;
  }
}
