.container {
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease 0s, transform 200ms ease 0s;

  &.active {
    opacity: 0.9;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  &.inactive {
    opacity: 0.3;
  }

  .image {
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
  }
}
