@use "global";

.page {
  padding-top: 8rem;
}

.background {
  @include global.background-image;
}

.title {
  color: global.$dark1;
  @include global.design-font;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  color: global.$dark1;
  @include global.design-font;
  font-size: 1rem;
  text-align: center;
}
