@use "global";
@use "sass:math";

$landscape-width: max(100vw, 100vh * 16 / 9);

.page {
  user-select: none;
  background-color: global.$light2;
}

.concept {
  position: relative;
  width: 100%;
  height: calc(100vh + 100px);
  overflow-x: hidden;
  overflow-y: hidden;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .phantom {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-name: phantom;

    @keyframes phantom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.02);
      }
    }
  }

  .smog {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 0%, rgba(#ddd, 0.1) 0%, rgba(#ddd, 0) 30%, rgba(#ddd, 0.7) 80%);
    animation-name: smog;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-direction: normal;

    @keyframes smog {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.7);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .underSmog {
    position: absolute;
    width: 100%;
    height: calc(100px + 20vh);
    bottom: 0;
    background: linear-gradient(transparent 0%, rgba(global.$light2, 100%) 100%);
  }

  .wind {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 8s;

    &.l1 {
      left: 0;
      transform: translateX(-100%);
      animation-name: wind1;

      @keyframes wind1 {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          transform: translateX(0%);
          opacity: 0;
        }
      }
    }

    &.l2 {
      right: 0;
      transform: translateX(100%);
      animation-name: wind2;

      @keyframes wind2 {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          transform: translateX(0%);
          opacity: 0;
        }
      }
    }
  }

  .shadow {
    position: absolute;
    width: calc(#{$landscape-width} * 0.2);
    left: 49%;
    top: calc(#{$landscape-width} * 0.25);
    transform: translateX(-40%);
    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-direction: normal;

    &.l1 {
      animation-delay: 0ms;
    }

    &.l2 {
      animation-delay: 200ms;
    }

    &.l3 {
      animation-delay: 400ms;
    }

    &.l4 {
      animation-delay: 600ms;
    }

    @keyframes shadow {
      0% {
        visibility: visible;
      }
      25% {
        visibility: hidden;
      }
      100% {
        visibility: hidden;
      }
    }
  }

  .logo {
    position: absolute;
    top: calc(#{$landscape-width} * 0.1);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 64px);
    max-width: 400px;

    &:before {
      position: absolute;
      content: "";
      width: 250%;
      height: 150%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(
                      closest-side,
                      rgba(global.$light2, 100%) 20%,
                      rgba(global.$light2, 80%) 60%,
                      rgba(global.$light2, 0%) 100%
      );
    }
  }
}

.message {
  background: linear-gradient(to bottom, transparent 0%, rgba(global.$light1, 20%) 250px, rgba(global.$light1, 20%) calc(100% - 250px), transparent 100%);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 150px;
  margin-bottom: 150px;

  .background {
    z-index: 1;
    position: absolute;
    min-width: 2000px;
    top: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    mask: url(/general/mask.webp);
    mask-size: 100% 100%;
    mask-position: center;
    opacity: 0.3;
    transition: opacity 2s 1.5s;

    &.invisible {
      opacity: 0;
    }

    .story {
      $duration: 60s;
      $content-count: 6;

      @mixin delay-with($item-number) {
        animation-delay: $duration * (-$content-count + $item-number) / $content-count;
      }

      position: absolute;
      width: 600px;
      mask: url(/general/mask.webp);
      mask-size: cover;
      mask-position: center;
      animation-name: story;
      animation-duration: $duration;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-direction: normal;
      animation-timing-function: linear;

      &.l1 {
        @include delay-with(1);
        bottom: calc(50% + 16px);
      }

      &.l2 {
        @include delay-with(2);
        bottom: calc(50% + 16px);
      }

      &.l3 {
        @include delay-with(3);
        bottom: calc(50% + 16px);
      }

      &.l4 {
        @include delay-with(4);
        bottom: calc(50% + 16px);
      }

      &.l5 {
        @include delay-with(5);
        bottom: calc(50% + 16px);
      }

      &.l6 {
        @include delay-with(6);
        bottom: calc(50% + 16px);
      }

      &.m1 {
        @include delay-with(1);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      &.m2 {
        @include delay-with(2);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      &.m3 {
        @include delay-with(3);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      &.m4 {
        @include delay-with(4);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      &.m5 {
        @include delay-with(5);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      &.m6 {
        @include delay-with(6);
        animation-direction: reverse;
        top: calc(50% + 16px);
      }

      @keyframes story {
        0% {
          left: 110%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }

  .content {
    z-index: 2;
    position: relative;
    width: 300px;
    text-align: center;

    .note {
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      width: 550px;
      transform: translate(-50%, -50%);
      transition: opacity 1s, transform 1s;
    }

    p {
      @include global.text;
      width: calc(100% - 64px);
      @include global.design-font;
      color: global.$dark1;
      line-height: 1.7;
      margin-bottom: 0.7em;
      font-size: 1rem;
      text-indent: 1em;
      user-select: text;
      transition: opacity 1s 0.5s, transform 1s 0.5s;
    }

    &.invisible {
      .note {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.1);
      }

      h1 {
        opacity: 0;
        transform: translateX(5%);
      }

      p {
        opacity: 0;
        transform: translateX(5%);
      }
    }
  }
}

.contents {
  background: linear-gradient(to bottom, transparent 0%, rgba(global.$light1, 20%) 250px, rgba(global.$light1, 20%) calc(100% - 250px), transparent 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 8rem;

  .item {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 4rem);
    max-width: 400px;
    padding-top: 2rem;
    padding-bottom: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
    filter: drop-shadow(0 0 16px rgba(global.$light1, 100%));
    transition: opacity 1s, transform 1s, filter 300ms;

    &:hover {
      filter: drop-shadow(0 0 32px rgba(#fff1e0, 100%));
    }

    &.invisible {
      opacity: 0;
      transform: translateX(5%);
    }

    .icon {
      width: 75px;
      height: 75px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8px;
    }

    .description {
      flex-grow: 1;
    }

    h1 {
      @include global.design-font;
      font-size: 1.2rem;
      color: global.$light1;
      text-align: center;
      margin-bottom: 0.5rem;
      user-select: text;
    }

    h2 {
      @include global.design-font;
      font-size: 1rem;
      color: global.$light1;
      text-align: center;
      margin-bottom: 2rem;
      user-select: text;

      &:before {
        content: "-";
        margin-inline-end: 1rem;
      }

      &:after {
        content: "-";
        margin-inline-start: 1rem;
      }
    }

    p {
      @include global.design-font;
      color: global.$dark1;
      line-height: 1.7;
      font-size: 1rem;
      margin-bottom: 0.7em;
      margin-left: 1rem;
      margin-right: 1rem;
      text-indent: 1em;
      user-select: text;
    }

    .images {
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 1.3rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      .image {
        width: calc(50% - 4px);
      }
    }
  }

  .letters {
    background: url(/general/letters-background.png), linear-gradient(to bottom, rgba(global.$light2, 100%) 0%, rgba(global.$light2, 70%) 400px);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    transition-delay: 0s, 0s, 0s;
  }

  .materials {
    background: url(/general/materials-background.jpg), linear-gradient(to bottom, rgba(global.$light2, 100%) 0%, rgba(global.$light2, 70%) 400px);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    transition-delay: 0.5s, 0.5s, 0s;
  }
}
