@use "global";
@use "sass:math";

.landscape {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  & > * {
    position: absolute;
  }

  .background {
    width: 100%;
    height: 100%;
  }

  .phantom {
    width: 100%;
    height: 100%;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-name: phantom;

    @keyframes phantom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.01);
      }
    }
  }

  .smog {
    width: 100%;
    height: 100%;
    background: radial-gradient(at 50% 0%, rgba(#ddd, 0.1) 0%, rgba(#ddd, 0) 30%, rgba(#ddd, 0.7) 80%);
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-name: smog;

    @keyframes smog {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.7);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .wind {
    width: 100%;
    height: 100%;

    &.layer1 {
      left: 0;
      transform: translateX(-100%);
      animation-name: wind1;
      animation-play-state: running;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 16s;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-delay: 8s;

      @keyframes wind1 {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          transform: translateX(0%);
          opacity: 0;
        }
      }
    }

    &.layer2 {
      right: 0;
      transform: translateX(100%);
      animation-name: wind2;
      animation-play-state: running;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 16s;
      animation-direction: normal;
      animation-fill-mode: both;
      animation-delay: 0s;

      @keyframes wind2 {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          transform: translateX(0%);
          opacity: 0;
        }
      }
    }
  }

  .shadow {
    width: 20%;
    height: 30%;
    left: 49%;
    top: 450px;
    transform: translateX(-40%);

    & > * {
      position: absolute !important;
      animation-name: shadow;
      animation-iteration-count: infinite;
      animation-duration: 800ms;
      animation-fill-mode: both;
      animation-direction: normal;
    }

    *:nth-of-type(1) {
      animation-delay: 0ms;
    }

    *:nth-of-type(2) {
      animation-delay: 200ms;
    }

    *:nth-of-type(3) {
      animation-delay: 400ms;
    }

    *:nth-of-type(4) {
      animation-delay: 600ms;
    }

    @keyframes shadow {
      0% {
        visibility: visible;
      }
      25% {
        visibility: hidden;
      }
      100% {
        visibility: hidden;
      }
    }
  }
}

.concept {
  position: relative;
  width: 100%;
  height: 100vh;

  .pickup {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    transition: opacity 500ms, transform 300ms;
    opacity: 1;
    filter: contrast(0.5);

    .hover & {
      transform: scale(0.95);
    }

    &.switching {
      opacity: 0;
    }
  }

  .logo {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      position: absolute;
      content: "";
      max-width: 100vw;
      width: 250%;
      height: 150%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(
                      closest-side,
                      rgba(global.$light2, 100%) 20%,
                      rgba(global.$light2, 80%) 60%,
                      rgba(global.$light2, 0%) 100%
      );
    }
  }

  .menu {
    display: flex;
    position: absolute;
    filter: drop-shadow(0 0 8px rgba(global.$light1, 80%));
    background: global.$light2;
    color: global.$light1;
    font-size: 1.5rem;
    @include global.design-font;
    gap: 25px;
    justify-content: flex-end;

    .icon {
      width: 64px;
    }

    .name {
      align-self: flex-end;
    }
  }

  .letters {
    top: 400px;
    left: 0;
    width: 300px;
    height: 80px;
    padding: 8px 32px 8px 0;
  }

  .materials {
    top: 520px;
    left: 0;
    width: 330px;
    height: 80px;
    padding: 8px 32px 8px 0;
  }
}

.message {
  filter: drop-shadow(0 0 8px rgba(global.$dark1, 60%));
  position: relative;
  width: 100%;
  background: global.$light2;
  min-height: 50rem;
}
