@use "global";

@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(loop1) {
  0% {
    transform: scale(1) translateY(0);
  }
  90% {
    transform: scale(1.009) translateY(-0.9%);
  }
  100% {
    transform: scale(1.01) translateY(-1%);
  }
}

.image {
  @include global.full-area;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-name: loop1;
}
