.image {
  position: absolute;
  width: min(26%, 80vw);
  left: 49%;
  transform: translateX(-40%);
  top: 50%;

  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-name: loop;
}

.frame1 {
  animation-delay: 0ms;
}

.frame2 {
  animation-delay: 200ms;
}

.frame3 {
  animation-delay: 400ms;
}

.frame4 {
  animation-delay: 600ms;
}

@keyframes loop {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
