@use "../../../../styles/responsive";

.container {
  position: relative;
  min-height: 100vh;

  @include responsive.mq(sm) {
    margin: 0 1rem;
  }

  @include responsive.mq(md) {
    margin: 0 4rem;
  }

  @include responsive.mq(lg) {
    max-width: 70rem;
    width: calc(100vw - 16rem);
    margin: 0 auto;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .content {
    position: relative;

    @include responsive.mq(sm) {
      padding: 0 1rem 0 1rem;
    }

    @include responsive.mq(md) {
      padding: 0 1rem 0 1rem;
    }

    @include responsive.mq(lg) {
      padding: 0 1rem 0 1rem;
    }

    .topSpace {
      height: 45vh;
    }

    .header {
      margin-bottom: 8rem;
    }

    .body {
      margin-top: 5rem;
      margin-bottom: 5rem;

      @include responsive.mq(sm) {
        margin: 0 0;
      }
      @include responsive.mq(md) {
        margin: 0 1rem;
      }
      @include responsive.mq(lg) {
        margin: 0 2rem;
      }
    }

    .bottomSpace {
      height: 90vh;
    }
  }

  .footer {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    width: 100%;
  }
}
