@use "global";

.item {
  display: block;
  background-color: rgba(global.$light1, 20%);
  border-left: rgba(global.$light1, 0.2) solid 1rem;
  cursor: pointer;
  padding: 0.2rem 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include global.media(desktop) {
    &:hover {
      text-decoration: underline;
    }
  }
}
