@use "global";

@include global.media(phone) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    padding: 1rem;
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
  }
}

@include global.media(tablet) {
  .layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    padding: 1rem;
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
  }
}

@include global.media(desktop) {
  .layout {
    border-left: rgba(global.$light1, 30%) solid 0.5rem;
    background-color: rgba(global.$light1, 20%);
    padding: 1rem;
  }

  .description {
    display: inline;
  }

  .thumbnail {
    float: right;
    width: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
