.section {
  margin: 3rem 0;
  font-size: 1.1rem;
  color: #16162c;

  p {
    text-indent: 1em;
    margin-bottom: 0.5em;
  }

  .name {
    text-decoration: underline;
  }
}

.separator {
  height: 1px;
  width: 50%;
  background-color: #16162c;
  margin: 0 auto;
}
