.container {
  width: 100vw;
  height: 100%;

  .header {
    width: 100%;
    padding: 3rem 0;
    text-align: center;

    .text {
      display: inline-block;
      height: 100%;
      font-size: 2rem;
      line-height: 1.5rem;
      color: #15152a;
      letter-spacing: 1rem;
      border-bottom: #15152a solid 2px;
      font-family: freight-text-pro, serif;
      font-weight: 500;
      font-style: normal;

      &:after {
        content: "";
        margin-right: -1rem;
      }
    }
  }

  .content {
    position: relative;

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .viewer {
      padding: 4rem 4rem;
      margin: 0 0;
      height: 36rem;
    }
  }
}
