.container {
  position: relative;
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    width: 100vw;
    height: 100%;
  }

  .title {
    width: 100%;
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      border-bottom: #79713c solid 2px;
      color: #79713c;
      font-family: mrs-eaves, serif;
    }
  }

  .viewer {
    margin: 0 0;
    height: 36rem;
  }
}
