.divider {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background: #16162c;
}

.logo {
  margin: 2rem auto 1rem auto;
  width: 50%;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.links {
  display: flex;
  width: 40%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  height: 1.5rem;
  opacity: 40%;

  .element {
    display: block;
    width: 30%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
