@use "global";

.element {
  display: flex;
  align-items: center;

  @include global.media(phone) {
    .logo {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .title {
      font-size: 1.7rem;
      color: #838a96;
      flex-grow: 1;
      letter-spacing: 0.2rem;
      padding-top: 1.1rem;
      padding-bottom: 0.2rem;
      padding-left: 0.5rem;
      transition: color 300ms 0s ease-out;
      border-bottom: #838a96 solid 1px;
    }

    &:hover {
      .title {
        background: linear-gradient(to right, rgba(#838a96, 50%) 0%, rgba(#838a96, 50%) 60%, transparent 100%);
        color: global.$light2;
      }
    }
  }

  @include global.media(tablet) {
    .logo {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .title {
      font-size: 1.7rem;
      color: #838a96;
      flex-grow: 1;
      letter-spacing: 0.2rem;
      padding-top: 1.1rem;
      padding-bottom: 0.2rem;
      padding-left: 1rem;
      transition: color 300ms 0s ease-out;
      border-bottom: #838a96 solid 1px;
    }

    &:hover {
      .title {
        background: linear-gradient(to right, rgba(#838a96, 50%) 0%, rgba(#838a96, 50%) 60%, transparent 100%);
        color: global.$light2;
      }
    }
  }

  @include global.media(desktop) {
    .logo {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .title {
      font-size: 1.7rem;
      color: #838a96;
      flex-grow: 1;
      letter-spacing: 0.2rem;
      padding-top: 1.1rem;
      padding-bottom: 0.2rem;
      padding-left: 1rem;
      transition: color 300ms 0s ease-out;
      border-bottom: #838a96 solid 1px;
    }

    &:hover {
      .title {
        background: linear-gradient(to right, rgba(#838a96, 50%) 0%, rgba(#838a96, 50%) 60%, transparent 100%);
        color: global.$light2;
      }
    }
  }
}
