@use "global";

.container {
  position: absolute;
  @include global.full-area;

  .inner {
    position: relative;
    height: 100vw;
    width: 100vw;

    .background {
      position: absolute;
      @include global.full-area;
    }

    .holeEffect {
      position: absolute;
      @include global.full-area;
    }

    .colorMask {
      background: rgba(global.$dark1, 70%);
      position: absolute;
      @include global.full-area;
    }
  }
}
