@use "/src/styles/responsive";

.container {
  margin: 0 auto;
  color: #a7b0c1;
}

.logo {
  @include responsive.mq(phone) {
    // TODO
  }

  @include responsive.mq(tablet) {
    margin: 0 auto 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #a7b0c1 solid 2px;

    .image {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      margin-right: 1rem;
    }

    .text {
      font-size: 2rem;
      letter-spacing: 1rem;
      &::after {
        content: "";
        margin-right: -1rem;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0 auto 2rem auto;

  .element {
    .text {
      display: inline;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &:not(:last-child)::after {
      content: "-";
    }

    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 1rem;
}
