@use "global";

.container {
  margin: 0 auto;
  color: global.$light1;
}

.logo {
  margin: 0 auto 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: global.$light1 solid 2px;

  .image {
    object-fit: contain;
    margin-right: 1rem;

    @include global.media(phone) {
      height: 3rem;
      width: 3rem;
    }

    @include global.media(tablet) {
      height: 4rem;
      width: 4rem;
    }

    @include global.media(desktop) {
      height: 4rem;
      width: 4rem;
    }
  }

  .text {
    @include global.media(phone) {
      $letter-spacing: 0.5rem;
      font-size: 1.6rem;
      letter-spacing: $letter-spacing;
      &::after {
        content: "";
        margin-right: -$letter-spacing;
      }
    }

    @include global.media(tablet) {
      $letter-spacing: 1rem;
      font-size: 2rem;
      letter-spacing: $letter-spacing;
      &::after {
        content: "";
        margin-right: -$letter-spacing;
      }
    }

    @include global.media(desktop) {
      $letter-spacing: 1rem;
      font-size: 2rem;
      letter-spacing: $letter-spacing;
      &::after {
        content: "";
        margin-right: -$letter-spacing;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0 auto 2rem auto;

  .element {
    .text {
      display: inline;
      padding-left: 1rem;
      padding-right: 1rem;
      text-decoration: underline;
    }

    &:not(:last-child)::after {
      content: "-";
    }

    &:hover {
      .text {
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 1rem;
}

.version {
  text-align: right;
  padding-right: 2rem;
  font-size: 1rem;
}
