@use "global";

.container {
  width: 100%;
  margin: 0 auto;
  color: global.$light1;
  background: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: global.$dark1 double 7px;
}

.logo {
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: global.$dark1 solid 2px;
  position: relative;

  .image {
    position: relative;
    object-fit: contain;
    margin-right: 1rem;

    @include global.media(phone) {
      height: 3rem;
      width: 3rem;
    }

    @include global.media(tablet) {
      height: 4rem;
      width: 4rem;
    }

    @include global.media(desktop) {
      width: 3.2rem;
      bottom: -0.5rem;
    }
  }

  .letter {
    position: relative;

    @include global.media(phone) {
      height: 3rem;
    }

    @include global.media(tablet) {
      height: 4rem;
    }

    @include global.media(desktop) {
      width: 10rem;
      bottom: -0.9rem;
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  gap: 1rem;
  color: global.$dark1;

  .element {
    display: inline;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  color: global.$dark1;
  text-align: center;
  font-size: 1rem;
}

.version {
  color: global.$dark1;
  text-align: right;
  padding-right: 2rem;
  font-size: 1rem;
}
