@use "global";

.container {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
  }

  .title {
    @include global.full-area;
    color: global.$light1;
    font-size: 2rem;
    letter-spacing: 1rem;
    align-self: center;

    &::after {
      content: "";
      margin-right: -1rem;
    }
  }
}
