@use "global";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
  }

  .title {
    color: global.$light1;
    font-size: 2rem;
    letter-spacing: 1rem;
    align-self: center;

    &::after {
      content: "";
      margin-right: -1rem;
    }
  }
}
