.container {
  transition: opacity 200ms ease 0s, transform 200ms ease 0s;

  &.active {
    opacity: 1;
  }

  &.inactive {
    transform: scale(0.9);
    opacity: 0.3;
  }

  .imageContainer {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: (100% * 9 / 16);
    margin-bottom: 1rem;

    &:before {
      height: 0;
      width: 100%;
      padding-top: 75%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
