.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background: radial-gradient(
    closest-side,
    #ddd 0%,
    #ddd 78%,
    #666 84%,
    #666 88%,
    #ddd 94%,
    #666 97%,
    transparent 100%
  );
}
