.container {
  position: relative;
  height: 100%;
  width: 100%;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 40%);
  }
}
