.title {
  height: 20%;
}

.content {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-between;

  .item {
    height: 100%;
    margin: 0 2rem;
    flex-grow: 1;
  }
}
