.title {
  height: 20%;
}

.content {
  width: 60%;
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  height: 70%;
}

.item {
  width: 30%;
  height: 100%;

  img {
    object-fit: contain;
  }
}
