@use "src/styles/responsive";

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .image {
    position: absolute;
    width: 100%;
    height: 200vh;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .effect {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(#16162c, 70%);
    }
  }
}

.front {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(#fff, 80%);

  @include responsive.mq(sm) {
    width: 100%;
  }

  @include responsive.mq(md) {
    width: 90%;
  }

  @include responsive.mq(lg) {
    width: 80%;
  }
}

.heading {
  position: absolute;
  left: -2rem;
  top: -2rem;

  .inner {
    display: inline-block;

    .main {
      font-weight: 400;
      font-style: normal;
      font-family: sirenne-seventytwo-mvb-roman, serif;
      border-bottom: #16162c solid 2px;
      font-size: 3rem;
      padding-right: 1rem;
      margin-bottom: 0.8rem;

      &::after {
        content: "";
        margin-bottom: -0.5rem;
      }
    }

    .sub {
      font-weight: 400;
      font-style: normal;
      font-family: source-han-serif-japanese, serif;
      font-size: 0.8rem;
    }
  }
}

.body {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include responsive.mq(sm) {
    flex-basis: 100%;
  }

  @include responsive.mq(md) {
    flex-basis: 50%;
  }

  @include responsive.mq(lg) {
    flex-basis: 30%;
    padding-top: 22rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.element {
  padding: 1rem;

  @include responsive.mq(sm) {
    flex-basis: 100%;
  }

  @include responsive.mq(md) {
    flex-basis: 50%;
  }

  @include responsive.mq(lg) {
    flex-basis: calc(100% / 3);
  }
}

.link {
  display: block;
  height: 100%;
  padding: 1rem;
  transition: background 0.1s ease-out 0s;

  &:hover {
    background: rgba(#fff, 40%);
  }
}

.footer {
  margin: 0 auto;
  padding: 0 0 2rem 0;
  width: 20%;
}
