@use "global";

.container {
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  @include global.media(phone) {
    margin-left: 0;
    margin-right: 0;
  }

  @include global.media(tablet) {
    margin-left: 6%;
    margin-right: 6%;
  }

  @include global.media(desktop) {
    margin-left: 10%;
    margin-right: 10%;
  }

  .element {
    @include global.media(phone) {
      width: 100%;
      margin-bottom: 4rem;
    }

    @include global.media(tablet) {
      width: 100%;
      margin-bottom: 4rem;
    }

    @include global.media(desktop) {
      width: 100%;
      margin-bottom: 6rem;
    }

    .link {
      display: block;

      @include global.media(phone) {
        // do nothing
      }

      @include global.media(tablet) {
        padding: 1rem 1rem;
        transition: background-color 200ms 0s ease;
        &:hover {
          background-color: rgba(global.$light2, 0.2);
        }
      }

      @include global.media(desktop) {
        padding: 1rem 1rem;
        transition: background-color 200ms 0s ease;
        &:hover {
          background-color: rgba(global.$light2, 0.2);
        }
      }
    }
  }
}
