@use "global";

@include global.media(phone) {
  // not implemented yet
}

@include global.media(tablet) {
  // not implemented yet
}

@include global.media(desktop) {
  .container {
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 45% 55%;

    .mainThumbnail {
      grid-column: 1;
      grid-row: 1 / 4;
      display: flex;
      align-items: flex-end;

      .place {
        width: 100%;
        border: global.$light1 solid 2px;
      }
    }

    .subThumbnailsContainer {
      grid-column: 2;
      grid-row: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background: rgba(global.$dark1, 70%);
      padding: 0.6rem 2rem 0.6rem 2rem;

      .subThumbnail {
        width: 30%;
        border: global.$light1 solid 2px;

        &:not(:last-child) {
          margin-right: 5%;
        }
      }
    }

    .textContainer {
      height: 100%;
      grid-column: 2;
      grid-row: 1;
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto 1fr;

      .title {
        grid-column: 2;
        grid-row: 1;
        font-size: clamp(1.6rem, 2.5vw, 2rem);
        text-align: right;
        padding-bottom: 0.3rem;
        color: global.$light2;
        border-bottom: global.$light1 solid 2px;
      }

      .description {
        grid-column: 1 / 3;
        grid-row: 3;
        color: global.$light2;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        margin-top: 0.5rem;
      }

      .updatedAt {
        grid-column: 1 / 3;
        grid-row: 2;
        font-size: 1rem;
        text-align: right;
        padding: 0.3rem;
        color: global.$light1;
        margin-left: 3rem;
      }

      .releasedAt {
        grid-column: 1;
        grid-row: 1;
        margin-left: 3rem;
        margin-top: auto;
        border-bottom: global.$light1 solid 2px;

        .text {
          display: inline-block;
          padding: 0.3rem 0.8rem 0.3rem 0.3rem;
          font-size: 1rem;
          text-align: left;
          color: #333;
          background: global.$light1;
        }
      }
    }
  }
}
