@use "global";

.container {
  width: 100%;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-rows: auto auto 1fr 50%;
  grid-template-columns: 40% 10rem auto;

  .mainThumbnail {
    grid-column: 1;
    grid-row: 1 / 5;
    border: global.$light1 solid 2px;
  }

  .subThumbnailsContainer {
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: rgba(global.$dark1, 70%);
    padding: 0.6rem 2rem 0.6rem 1rem;

    .subThumbnail {
      border: global.$light1 solid 2px;
      margin-left: 1rem;
    }
  }

  .title {
    grid-column: 3;
    grid-row: 1;
    font-size: 2rem;
    text-align: right;
    padding-bottom: 0.3rem;
    color: global.$light2;
    border-bottom: global.$light1 solid 2px;
  }

  .description {
    grid-column: 2 / 4;
    grid-row: 3;
    color: global.$light2;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
  }

  .updatedAt {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 1rem;
    text-align: right;
    padding: 0.3rem;
    color: global.$light1;
    margin-left: 3rem;
  }

  .releasedAt {
    grid-column: 2;
    grid-row: 1;
    margin-left: 3rem;
    margin-top: auto;
    border-bottom: global.$light1 solid 2px;

    .text {
      display: inline-block;
      padding: 0.3rem 0.8rem 0.3rem 0.3rem;
      font-size: 1rem;
      text-align: left;
      color: #333;
      background: global.$light1;
    }
  }
}
